<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password </h1>
    <form action="" method="POST">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <br>
        
        <input type="submit" value="Reset">
    </form>
    <br>
    <a href="./login">Go back to Login</a>
</body>
</html>